#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with cargo

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 0755 target/release/vuinputd debian/tmp/usr/bin/vuinputd