[Unit]
Description=uinput proxy
After=systemd-udevd.service
Requires=systemd-udevd.service

[Service]
# The Flag --vt-guard disables VT keyboard handling (K_OFF on /dev/tty0) to prevent uinput leakage.
# This disables all keyboard input on the virtual terminals, including physical keyboards.
# Loss of local access may require recovery via SSH or a rescue boot.
#ExecStartPre=/usr/local/bin/vuinputd --vt-guard

# major 120 is reserved for local/experimental use. I picked minor 414795 with the use
# of a random number generator to omit conflicts.
ExecStart=/usr/local/bin/vuinputd --major 120 --minor 414795
Restart=on-failure

# Needs CAP_SYS_ADMIN for CUSE + /dev/uinput (I am still missing a capability for the correct working mode)
#CapabilityBoundingSet=CAP_SYS_ADMIN CAP_MKNOD CAP_DAC_OVERRIDE CAP_FOWNER
#DeviceAllow=/dev/uinput rw
#DeviceAllow=/dev/cuse rw
# we need the permission to create all sorts of devices
DeviceAllow=char-* rwm

# Enable debug logs during preproduction phase
Environment=RUST_LOG=debug

[Install]
WantedBy=multi-user.target
