[Unit]
Description=uinput proxy
After=systemd-udevd.service
Requires=systemd-udevd.service

[Service]
ExecStart=/usr/local/bin/vuinputd
Restart=on-failure

# Needs CAP_SYS_ADMIN for CUSE + /dev/uinput (I am still missing a capability for the correct working mode)
#CapabilityBoundingSet=CAP_SYS_ADMIN CAP_MKNOD CAP_DAC_OVERRIDE CAP_FOWNER
#DeviceAllow=/dev/uinput rw
#DeviceAllow=/dev/cuse rw
DeviceAllow=char-* rwm # we need the permission to create all sorts of devices


[Install]
WantedBy=multi-user.target
